<div class="card">
    <h1>Pipes de texto</h1>
    <table>
        <tr>
            <th>Pipe</th>
            <th>Valor sin pipe</th>
            <th>Valor con pipe</th>
            <th>Opciones del pipe</th>
        </tr>
        <tr>
            <td>uppercase</td>
            <td>{{texto}}</td>
            <td>{{texto | uppercase}}</td>
            <td>No tiene opciones</td>
        </tr>
        <tr>
            <td>lowercase</td>
            <td>{{texto}}</td>
            <td>{{texto | lowercase}}</td>
            <td>No tiene opciones</td>
        </tr>
        <tr>
            <td>titlecase</td>
            <td>{{texto}}</td>
            <td>{{texto | titlecase}}</td>
            <td>No tiene opciones</td>
        </tr>
    </table>
</div>
<div class="card">
    <h1>Pipe slice</h1>
    <table>
        <tr>
            <th>Pipe</th>
            <th>Valor sin pipe</th>
            <th>Valor con pipe</th>
            <th>Opciones del pipe</th>
        </tr>
        <tr>
            <td>slice</td>
            <td>{{id}}</td>
            <td>{{id | slice: -3}}</td>
            <td>Nº de caracteres</td>
        </tr>
    </table>
</div>
<div class="card">
    <h1>Pipe date</h1>
    <table>
        <tr>
            <th>Pipe</th>
            <th>Valor sin pipe</th>
            <th>Valor con pipe</th>
            <th>Opciones del pipe</th>
        </tr>
        <tr>
            <td>date</td>
            <td>{{ahora}}</td>
            <td>{{ahora | date: "dd/MM/yyyy hh:mm"}}</td>
            <td>Opción numérica con formato tradicional para fechas</td>
        </tr>
        <tr>
            <td>date</td>
            <td>{{ahora}}</td>
            <td>{{ahora | date: "medium"}}</td>
            <td>Opción texto "long", "medium" y "short"</td>
        </tr>
    </table>
</div>
<div class="card">
    <h1>Pipe decimal</h1>
    <table>
        <tr>
            <th>Pipe</th>
            <th>Valor sin pipe</th>
            <th>Valor con pipe</th>
            <th>Opciones del pipe</th>
        </tr>
        <tr>
            <td>decimal</td>
            <td>{{importe}}</td>
            <td>{{importe | number: "5.2-2"}}</td>
            <td>nº mínimo enteros.nº máximo decimales-nº mínimo decimales</td>
        </tr>
        <tr>
            <td>decimal</td>
            <td>{{importe}}</td>
            <td>{{importe | number: ".4-4"}}</td>
            <td>.nº máximo decimales-nº mínimo decimales</td>
        </tr>
    </table>
</div>
<div class="card">
    <h1>Pipe currency</h1>
    <table>
        <tr>
            <th>Pipe</th>
            <th>Valor sin pipe</th>
            <th>Valor con pipe</th>
            <th>Opciones del pipe</th>
        </tr>
        <tr>
            <td>currency</td>
            <td>{{importe}}</td>
            <td>{{importe | currency: divisa}}</td>
            <td>String de moneda</td>
        </tr>
        <!-- <tr>
            <td>currency</td>
            <td>{{importe}}</td>
            <td>{{importe | number: '.2-2' | currency: divisa}}</td>
            <td>Los pipe se pueden encadenar</td>
        </tr> -->
    </table>
</div>
<div class="card">
    <h1>Pipe propio Número</h1>
    <table>
        <tr>
            <th>Pipe</th>
            <th>Valor sin pipe</th>
            <th>Valor con pipe</th>
            <th>Opciones del pipe</th>
        </tr>
        <tr>
            <td>numero</td>
            <td>{{importe}}</td>
            <td>{{importe | numero: numeroDecimales: '€'}}</td>
            <td>
                <button (click)="setNumeroDecimales(1)">+</button>
                <button (click)="setNumeroDecimales(-1)">-</button>
            </td>
        </tr>
    </table>
</div>

